version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: domotic
      POSTGRES_USER: domotic
      POSTGRES_PASSWORD: domotic
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    image: fabien31520/domotic-backend:latest
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/domotic
      DB_USERNAME: domotic
      DB_PASSWORD: domotic
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    image: fabien31520/domotic-frontend:latest
    depends_on:
      - app
    ports:
      - "80:80"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
